body {
  margin: 0;
  padding: 0;
  background-color: #222831;
  font-family: Arial, Helvetica, sans-serif;
}

#map {
  min-height: 65vh;
  width: 95vw;
  margin: 2rem;
  border-radius: 5px;
  position: relative;
}

main {
  width: 100vw;
}

.map-container {
  display: flex;
  justify-content: space-arround;
  align-items: center;
}

#display-box {
  height: 55vh;
  width: 25vw;
  padding: 20px;
  border: 1px solid white;
  color: #eeeeee;
  background-color: #31363f;
}

#display-box h2 {
  text-align: center;
}

#display-box table {
  font-size: large;
}

header h1 {
  color: white;
  text-align: center;
}

#add-button{
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color: #31363f;
  border-radius: 5px;
  width: 95vw;
  margin: 2rem;
}

#add-button p {
  color: #fff;
}

table {
  width: 95vw;
  border-collapse: collapse;
  margin: 2rem;
  color: #fff;
}

th, td {
  border: 1px solid #31363e;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #31363f;
}

.button {
  display: inline;
  width: 10%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn {
  background-color: #31363f;
  color: #eeeeee;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 0.9rem;
}
.btn:hover {
  background-color: #eeeeee;
  color: #31363f;
  cursor: pointer;
}
#marker-data td {
  padding: 7px;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #31363f;
}
.info {
  color: #eeeeee;
}
.info p {
  text-align: center;
}
.bio {
  color: #eeeeee;
}
.bio p {
  text-align: center;
}

.custom-popup {
  width: 200px; 
  padding: 10px; 
  background-color: #fff; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.custom-popup h2 {
  font-size: 18px; 
  margin-bottom: 10px; 
}

.custom-popup p {
  font-size: 14px; 
  margin-bottom: 8px; 
}

.edit-button {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 5px;
  cursor: pointer;
}

.delete-button {
  background-color: #f44336; /* Red */
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.edit-button:hover, .delete-button:hover {
  opacity: 0.8;
}
/* .custom-popup .close-button {
  position: absolute; 
  top: 5px; 
  right: 5px; 
  font-size: 16px; 
  color: #888; 
  cursor: pointer; 
} */

